<%- include("./partials/header") %>
<% if(error.length > 0) { %>
    <div class="fixed z-30 top-5 left-1/2 transform -translate-x-1/2 p-4 mr-7 rounded-md bg-red-500 shadow-lg shadow-red-700">
        <span class="inline-block text-white font-semibold">
            <%= error %>
        </span>
    </div>
<% } %>

<!-- Form Container -->
<div class="flex justify-around items-center min-h-screen bg-gray-100">
    
    <!-- Create Account Section -->
    <div class="flex justify-start flex-col mt-20 w-1/4 p-6 rounded-lg bg-gray-100 shadow-lg neomorphic-card">
        <div class="text-3xl font-bold text-gray-800">Welcome to <span class="text-blue-500 font-medium">UpTrend</span></div>
        <div class="text-xl pt-2 text-gray-600">Create your account</div>
        <form class="flex flex-col gap-4 pt-5 w-full" action="users/register" method="post">
            <input class="bg-zinc-100 px-4 py-2 rounded-full outline-none neomorphic-input" type="text" placeholder="Fullname" name="fullname">
            <input class="bg-zinc-100 px-4 py-2 rounded-full outline-none neomorphic-input" type="email" placeholder="Email" name="email">
            <input class="bg-zinc-100 px-4 py-2 rounded-full outline-none neomorphic-input" autocomplete="additional-name" type="password" placeholder="Password" name="password">
            <input class="bg-blue-500 text-white px-4 py-2 rounded-full cursor-pointer shadow-lg neomorphic-btn" type="submit" value="Create My Account">
        </form>
    </div>

    <!-- Login Section -->
    <div class="flex justify-start flex-col mt-20 w-1/4 p-6 rounded-lg bg-gray-100 shadow-lg neomorphic-card">
        <div class="text-xl font-bold text-gray-800">Login to your account</div>
        <form class="flex flex-col gap-4 pt-5 w-full" action="users/login" method="post">
            <input class="bg-zinc-100 px-4 py-2 rounded-full outline-none neomorphic-input" type="email" placeholder="Email" name="email">
            <input class="bg-zinc-100 px-4 py-2 rounded-full outline-none neomorphic-input" type="password" autocomplete="additional-name" placeholder="Password" name="password">
            <input class="bg-blue-500 text-white px-4 py-2 rounded-full cursor-pointer shadow-lg neomorphic-btn" type="submit" value="Login">
        </form>
    </div>
</div>

<%- include("./partials/footer") %>